blinker==1.8.2
certifi==2024.8.30
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.16.0
Flask==3.0.3
Flask-MySQLdb==2.0.0
Flask-WTF==1.2.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mysql-connector==2.2.9
mysqlclient==2.2.4
pipenv==2024.0.1
platformdirs==4.3.2
PyMySQL==1.1.1
virtualenv==20.26.4
Werkzeug==3.0.4
WTForms==3.1.2
