{% extends "index.html" %}

{% block content %}
    <div class="container">
        <!-- Search Bar and Add Button -->
        <h3 class = "table-title">Colleges</h3>
        <div class="search-bar">
            <form action="{{ url_for('colleges.college_page') }}" method="GET">
                <select id="searchBy" name="search_by" class="form-select-lg" data-selected-value="{{ selected_info }}">
                    <option value="college-code">College Code</option>
                    <option value="college-name">College Name</option>
                </select>
                <input type="text" placeholder="Search college..." id="searchInput" name="search_term" value="{{ request.args.get('search_term', '') }}">
                <button id="searchButton" type ="submit" class="btn btn-secondary">
                    Search Info</button>
            <a href="{{ url_for('colleges.add_college') }}" class="btn btn-success pull-right" id="addButton">Add College</a>
            </form>
            
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mt-1">
            <ul>
                {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}



        <div class="table-container">
            <!-- Student Information Table -->
            <table class = "table table-striped table-bordered">
                <thead class = "bg-primary text-white">
                    <tr>
                        <th scope = "col">College Code</th>
                        <th scope = "col">College Name</th>
                        <th scope = "col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for college in colleges %}
                    <tr>
                        <td>{{ college[0] }}</td>
                        <td>{{ college[1] }}</td>
                        <td>
                            <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                            <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this college?')">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

     
{% endblock %}
